<div class="container">
  <div class="row">
    <form #f="ngForm" (ngSubmit)="onHotelSave(f)">
    <input type="number" class="form-control" name="hotel_id" id="hotel_id"
    ngModel placeholder="Enter Hotel Id">

    <input type="text" class="form-control" name="hotel_name" id="hotel_name"
    ngModel placeholder="Enter Hotel Name">

    <input type="text" class="form-control" name="owner_name" id="owner_name"
    ngModel placeholder="Enter Owner Name">

    <input type="text" class="form-control" name="mo_no" id="mo_no"
    ngModel placeholder="Enter Mobile Number" appContactdirective>

    <input type="text" class="form-control" name="email" id="email"
    ngModel placeholder="Enter Email Id">

    <input type="radio" class="form-contol"#star name="star_cat" ngModel value="star-1">star-1
    <input type="radio" class="form-contol" #star1 name="star_cat" ngModel value="star-2">star-2
    <input type="radio" class="form-contol" #star2 name="star_cat" ngModel value="star-3">star-3<br />

    <select name="owner_type" class="form-control" ngModel>
        <option>Select</option>
        <option>owned</option>
        <option>leased</option>
        <option>managed</option>
    </select>
    <input type="text" class="form-control" name="city" id="city"
    ngModel placeholder="Enter City">
    <input type="number" class="form-control" name="pincode" id="pincode"
    ngModel placeholder="Enter Pin Code" appPincodedirective>

    <button type="submit" class="btn btn-primary">Add Hotel</button>
  </form>
  </div>
</div>